.welcome {
  margin: 65px 0px;
  text-align: center;
}

.welcome h1 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 30px;
}

.welcome p {
  font-size: 19px;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.7);
}

.login {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
}

.login__id::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 22px;
}

.login__id {
  border: none;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.3);
  height: 70px;
  font-size: 22px;
  transition: border-color 0.4s ease-in-out;
}

.login__id:focus {
  outline: none;
  border-color: var(--yellow);
}

.login__login {
  margin-top: 40px;
  background-color: var(--yellow);
  border: none;
  border-radius: 5px;
  height: 60px;
  font-size: 22px;
  cursor: pointer;
}

.login__sign {
  margin-top: 13px;
  border: none;
  border-radius: 5px;
  height: 60px;
  font-size: 22px;
  cursor: pointer;
}

.login a {
  margin-top: 30px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}
