.status-bar {
  padding: 0px 5px;
  display: flex;
  justify-content: center;
}

.status-bar div {
  width: 33%;
}

.status-bar__service {
  display: flex;
  align-items: center;
}

.status-bar__time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.status-bar__battery {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.battery {
  height: 30px;
  width: 33px;
  margin-left: 3px;
}

.rotation {
  height: 15px;
  margin-right: 10px;
}

.flash {
  height: 13px;
  width: 7px;
}

.fa-wifi {
  margin-left: 4px;
}
